* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow: hidden;
}

#landing {
  background: black;
  opacity: 0.9;
  overflow: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  color: #ffffffcb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#landing #navbar {
  background: rgba(0, 0, 0, 0.527);
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  overflow: hidden;
}

#landing #navbar .nav_list {
  position: relative;
  left: 10%;
  height: 60%;
  font-family: "Montserrat", sans-serif;
  margin: 16vh 8vw;
  text-decoration: none;
  list-style-type: none;
  font-weight: 800;
  z-index: 101;
}

#landing #navbar .nav_list li {
  font-size: 3rem;
  padding: 10px;
  z-index: 2;
  cursor: pointer;
}

#landing #navbar .nav_list li:hover, #landing #navbar .nav_list li:active {
  font-size: 3.8rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#landing #navbar .cross {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 7%;
  right: 7%;
}

#landing #navbar .cross img {
  z-index: 4;
  width: 0;
  opacity: 0.7;
  cursor: pointer;
}

#landing #burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 3;
  position: absolute;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#landing #burger .line1,
#landing #burger .line2,
#landing #burger .line3 {
  cursor: pointer;
  height: 33.33%;
  margin: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.801);
}

#landing #greeting {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#landing #greeting .intro {
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  width: 100%;
  z-index: 1;
}

#landing #greeting .vtx {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 6.5em;
  width: 100%;
  z-index: 1;
}

#landing .sphere-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 580px;
  height: 580px;
  margin: -290px 0 0 -290px;
}

#landing .sphere path {
  fill: url(#sphereGradient);
  stroke-width: 1px;
  stroke: rgba(80, 80, 80, 0.35);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@media (min-width: 500px) {
  #landing .sphere path {
    stroke-width: 0.4px;
  }
}
/*# sourceMappingURL=style.css.map */